body {
    font-family: Arial;
    text-align: center;
    margin-top: 15%;
    background-color: #b3b3e5;
    color: white;
}
label {
    display: block;
}
input,
textarea {
    width: 35%;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
#generate{
    background-color: #9554ca;
    border: solid #560e7c;
}
button {
    border-radius: 8px;
    width: 20%;
    background-color: black;
    color: white;
    margin-top: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
}
button:hover {
    background-color: #454745;
}
h3 {
    color: rgb(6, 86, 6);
}